.scoreContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.scoreBox,
.bestBox {
  background-color: #bbada0;
  color: #f9f6f2;
  padding: 10px;
  border-radius: 3px;
  width: 100px;
}

.scoreLabel {
  font-size: 14px;
}

.scoreValue {
  font-size: 24px;
  font-weight: bold;
}
